/*Screens < 600px
General configurations
*/

html {
    font-size: 14px;
}

body { 
    margin: 0 auto;
    min-height: 100vh; 
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: Lato, sans-serif;
    font-size: 1.2rem;
}

@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-Bold.ttf");
}

h1, h2, h3 {
    font-family: Montserrat, sans-serif;
}

h1 {
    font-size: 4rem;
    margin: 1rem;
}

h2 {
    font-size: 2.2rem;
}

p, li {
    max-width: 70ch;
    line-height: 1.5;
}

/*
<header>
It contains the main heading of the page and some introductory text.
*/

header {
    height: 55vh;
    background-image: url("assets/img/studentsbg.png");
    background-attachment: fixed; 
    background-position: center top;
    background-size: cover;
    position: relative
}

header > div {
    background-color: #c5192d;
    text-align: center;
    color: whitesmoke;
    position: absolute;
    width: 95vw;
    margin: 0 2.5vw;
    bottom: -4rem;
}

header > div > p {
    max-width: 75vw;
    margin: auto;
    padding-bottom: 1rem;
}


/*
<main>
*/

main {
    box-shadow: 0 0 1px 0 darkgrey;
    background-color: whitesmoke;  
    width: 95vw;
    margin: 0 auto;  
}

/*
#intro-container
This is the first article inside the main container.
• Look at the mock-up and decide what padding/margin you should use
(Figure 1)
• The colour of the background is #c5192d (hint: you may need to use
pseudo-elements to create this background. If so, you may need to adjust
the z-index of the different elements. The z-index accepts both negative
and positive values)
*/

#intro-container {
    background-color: #c5192d;
    padding: 1rem 0 2rem;
    margin-top: 6rem;
}

#intro-container > div {
    padding: 0 2rem 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li::before {
    content: "\1F64C";
    margin: 1rem 1rem 0 1rem;
    width: 1rem;

}

li:nth-child(2)::before {
    content: "\1F3EB";
}

li:nth-child(3)::before {
    content: "\1F4DA";
}

article > div {
    padding: 1rem 2rem 0;
}

img {
    box-sizing: border-box;
    max-width: 95vw;
    padding: 2rem;
}

img:nth-child(2) {
    border-bottom: 0.1px solid darkgrey;
}

footer {
    background-color: #c5192d;
    color: whitesmoke;
    padding: 1rem 2rem;
    text-align: center;
    box-sizing: border-box;
    width: 95vw;
    margin: 2rem auto 0;  
}

a:link {
    color: whitesmoke;
}

/*Screens 600px – 960 px
This screen resolution will follow the same rules/styles presented in the previous
screen resolution. However, some rules and parts of the layout may change
according to the next points
General configurations



• Each column will be 45% wide and there will be a 10% gap between the
two columns (Figure 3). HINT: inline elements add a space between them. 
Therefore, this will cause the elements to be displayed in a new line if the
sum of the width of the elements is greater than 100% (this is 50% +
1space + 50%). CSS tricks to the rescue!
• Observe that the image is aligned to the top of the container
*/

@media only screen and (min-width: 600px) {

    html {
        font-size: 16px;
    }

    header {
        height: 65vh;
    }

    header > div {
        box-sizing: border-box;
        width: 85vw;
        margin: 0 7.5vw;
    }

    main, footer {
        width: 85vw;
        margin: 0 auto; 
    }

    article > div, img {
        box-sizing: border-box;
        max-width: 45%;
        display: inline-block;
    }

    #intro-container {
        position: relative;
    }


  }

