/*Screens < 600px
General configurations
*/

html {
    font-size: 14px;
}

body { 
    margin: 0 auto;
    min-height: 100vh; 
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: Lato, sans-serif;
    font-size: 1.2rem;
}

@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-Bold.ttf");
}

h1, h2, h3 {
    font-family: Montserrat, sans-serif;
}

h1 {
    font-size: 4rem;
    margin: 1rem;
}

h2 {
    font-size: 2.2rem;
}

p, li {
    max-width: 70ch;
    line-height: 1.5;
}

/*
<header>
It contains the main heading of the page and some introductory text.
*/

header {
    height: 55vh;
    background-image: url("assets/img/studentsbg.png");
    background-attachment: fixed; 
    background-position: center top;
    background-size: cover;
    position: relative
}

header > div {
    background-color: #c5192d;
    text-align: center;
    color: white;
    position: absolute;
    max-width: 95vw;
    margin: 0 2.5vw;
    bottom: -4rem;
}

header > div > p {
    max-width: 75vw;
    margin: auto;
    padding-bottom: 1rem;
}


/*
<main>
*/

main {
    box-shadow: 0 0 1px 0 darkgrey;
    background-color: whitesmoke;  
    width: 95vw;
    margin: 0 auto;  
}

/*
#intro-container
This is the first article inside the main container.
• Look at the mock-up and decide what padding/margin you should use
(Figure 1)
• The colour of the background is #c5192d (hint: you may need to use
pseudo-elements to create this background. If so, you may need to adjust
the z-index of the different elements. The z-index accepts both negative
and positive values)
*/

#intro-container {
    background-color: #c5192d;
    padding: 1rem 0 2rem 0;
    margin-top: 6rem;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li::before {
    content: "\1F64C";
    margin: 1rem 1rem 0 1rem;
    width: 1rem;

}

li:nth-child(2)::before {
    content: "\1F3EB";
}

li:nth-child(3)::before {
    content: "\1F4DA";
}

article > div {
    padding: 0 2rem;
}

img {
    box-sizing: border-box;
    max-width: 95vw;
    padding: 2rem;
}

footer {
    background-color: #c5192d;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    margin-top: 2rem;
}

a:link {
    color: white;
}

